@model Gittablog.Presentation.Models.HomeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Gittablog</title>
    </head>
    <body>
        <div>
              <h1>hello</h1>
        </div>
    </body>
</html>