@model Gitablog.Web.ViewModels.Blog
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Git a blog</title>
</head>
<body>
    <div>
        @foreach (var page in @Model.Pages)
        {
            @Html.ActionLink(page.Name, "Category", "Home", new { category = page.Name }, new object())
        }
    </div>
</body>
</html>